.generic-button {
	color: var(--button-text-color);
	background-color: var(--button-background-color);
	border: 2px solid var(--button-text-color);
}

.generic-button:hover{
	border: 2px solid var(--button-border-color);
	background-color: var(--button-background-color-hovered);
}